= simple_form_for @competition do |f|
  = f.input :title
  = f.input :description, :input_html => { :class => 'span10', :rows => '5' }
  = f.input :deadline, :as => :string, :input_html => { :class => 'datepicker' }
  / = f.input :public, :inline_label => "Display Publicly", :label => false
  = f.button :submit
  = link_to 'Cancel', session.delete(:return_to)