.row
  %h1.span8 Available Competitions
  .span4.new-story-button
    = link_to new_competition_path, :class => 'btn btn-primary' do
      %i.icon-pencil.icon-white
      New Competition
%table.table.table-hover.competitions
  %th Competitions
  %th Deadline
  %th Actions
  - @competitions.try(:each) do |c|
    %tr 
      %td= link_to c.title, c
      %td= c.deadline.to_s(:ordinal)
      %td
        = link_to new_competition_submission_path(c), class: 'btn btn-small btn-success',title: "Submit" do
          %i.icon-envelope.icon-white
          Submit
        - if can? :delete, c
          = link_to c, method: :delete, class: 'pull-right', data: { confirm: "Are you sure you want to delete this competition?" }, title: "Delete?" do
            %i.icon-trash
        - if can? :edit, c
          = link_to edit_competition_path(c), class: 'pull-right', title: 'Edit' do
            %i.icon-edit