.row.header
  %h1.span8.competition-title #{@competition}
  - if can? :edit, @competition
    .span4
      .btn-group.competition-actions-button
        %button.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
          Competition Options
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to edit_competition_path(@competition) do
              %i.icon-edit
              Edit
          / %li
          /   %a{:href => "#"} 
          /     %i.icon-user
          /     Invite a Judge
          %li
            = link_to new_competition_submission_path(@competition) do
              %i.icon-envelope
              Submit a Story
          - if @competition.public?
            %li.divider
            %li
              %a{:href => '#', :'data-target' => "#share", 'data-toggle' => 'modal'} Share link
  - else
    .span4.new-story-button
      = link_to new_competition_submission_path(@competition), :class => 'btn btn-primary' do
        %i.icon-envelope.icon-white
        Submit a Story
    
  %p.span12.muted
    %small 
      Deadline: 
      %span{class: @competition.expires_today && "label label-important"} #{@competition.deadline.to_s(:ordinal)}

%p.description= display_as_html @competition.description

- if current_user.try(:has_submitted_as_participant?, @competition)
  .alert.alert-success
    You have submitted to this competition.
  %table.table.table-hover
    %th Story
    %th Date Submitted
    - current_user.submissions_for(@competition).includes(:story, :competition).each do |s|
      %tr
        %td= link_to s.story, [s.competition, s]
        %td= s.created_at.to_s(:ordinal)


- if can? :vote, @competition
  %h3= link_to "View All Submissions", competition_submissions_path(@competition)
  %table.table.table-hover.competition_submissions
    %th Author
    %th Story
    %th Vote
    - @competition.submissions.for_consideration.includes(:story, :user, :competition).each do |s|
      %tr{id: "submission_row_#{s.id}"}
        %td= s.user
        %td
          - if can? :read, s
            = link_to s.story, [s.competition, s]
          - else
            = s.story
        %td
          = render 'submissions/voting', klass: 'voting-table', submission: s

#share.modal.hide.fade{tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'Share Link', :'aria-hidden' => 'true'}
  .modal-header
    %button.close{:'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
    %h3#shareLabel Share this competition
  .modal-body
    .well.well-small= competition_url(@competition)
  .modal-footer
    %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => true} Close