%h1 Welcome back, #{current_user}
.row.home
  - unless @owned_competitions.empty?
    .span4
      %h3 My Competitions
      %hr
      %ul.unstyled.owned-competitions
        - @owned_competitions.each do |oc|
          %li= link_to oc.title, oc
          %small.muted Created: #{oc.created_at.to_s(:ordinal)}
          %br
          %small.muted Ends: #{oc.deadline.to_s(:ordinal)}
  - unless @submissions.empty?
    .span4
      %h3 My Submissions
      %hr
      %ul.unstyled.submissions
        - @submissions.each do |s|
          %li= link_to s.story, [current_user, s.story]
          %small.muted Submitted to #{link_to s.competition, s.competition} on #{s.created_at.to_s(:ordinal)}
  - unless @expiring_competitions.empty?
    .span4
      %h3 Expiring Today
      %hr
      %ul.unstyled.expiring-competitions
        - @expiring_competitions.each do |c|
          %li= link_to c, c