- unless current_user.stories.empty?
  = simple_form_for [@competition, @submission] do |f|
    %h3 Select a story to submit:
    = f.hidden_field :competition_id, value: @competition.id
    = f.association :story, :collection => current_user.stories, :label => false, :include_blank => false
    = f.button :submit, 'Submit Story'
- else
  %p It looks like you haven't submitted any stories yet. Would you like to create your first story?
  = link_to new_user_story_path(current_user), class: 'btn btn-primary' do
    %i.icon-pencil.icon-white
    New Story