%div.vote_result
- vote = current_user.voted_as_when_voted_for submission
= simple_form_for [submission.competition, submission],
                  url: vote_competition_submission_path(submission.competition, submission),
                  :method => 'post',
                  remote: true do |f|
  %div.btn-group{"data-toggle" => "buttons-radio","data-toggle-name" => "submission[sub_vote]", class: klass}
    %a.btn{"data-value" => "0", :'class-toggle' => 'btn-danger', class: ('btn-danger active' if vote == false)}
      %i.icon-thumbs-down
      No
    = f.input :sub_vote, as: :hidden
    %a.btn{"data-value" => "1", :'class-toggle' => 'btn-success', class: ('btn-success active' if vote == true)}
      %i.icon-thumbs-up
      Yes