.row.voting-nav
  .span4
    = link_to_previous_page submissions, "Previous", class: 'btn btn-block' do
      = link_to "Previous", "", class: 'btn btn-block disabled'
  .span4
    = render 'voting', submission: submissions.first, klass: 'standalone-voting'
  .span4
    = link_to_next_page submissions, "Next", class: 'pull-right btn btn-block' do
      = link_to "Next", "", class: 'btn disabled btn-block pull-right'