- unless @submissions.empty?
  There #{'is'.pluralize(@competition.submissions.for_consideration.count)} #{pluralize(@competition.submissions.for_consideration.count, 'submission')} to this competition.
  = render 'voting_nav', submissions: @submissions
  = render 'stories/story', story: @submissions.first.story_as_submitted
  / = render 'voting_nav', submissions: @submissions
- else
  There are no submissions yet.