%h2 
  Submission for competition: 
  = link_to @submission.competition.title, @submission.competition
- if can? :vote, @submission
  .span4.offset5
    = render 'voting', submission: @submission, klass: 'standalone-voting'
.span12
  = render 'stories/story', story: @submission.story_as_submitted