= simple_form_for [user, story] do |f|
  = f.input :title, autofocus: true, placeholder: "Title", label: false
  = f.input :text, :input_html => { :class => 'span10' }, placeholder: "Write or paste your story here...", label: false
  = f.input :public, label: false, inline_label: "Publicly viewable?"
  = f.button :submit, :disable_with => 'Submiting...'
  = link_to 'Cancel', session.delete(:return_to)