- unless current_user.admin?
  .row
    %h1.span8 #{current_user}'s Stories
    .span4.new-story-button
      = link_to new_user_story_path, :class => 'btn btn-primary' do
        %i.icon-pencil.icon-white
        New Story
  %table.table.table-hover
    %th Title
    %th Date Created
    - @my_stories.includes(:user).each do |s|
      %tr 
        %td= link_to s.title, [s.user, s]
        %td.small.muted= s.created_at.to_s(:ordinal)
- else
  .row
    %h1.span8 All Stories
    .span4.new-story-button
      = link_to new_user_story_path, :class => 'btn btn-primary' do
        %i.icon-pencil.icon-white
        New Story
  %table.table.table-hover
    %th Title
    %th Date Created
    %th User
    - @stories.includes(:user).each do |s|
      %tr 
        %td= link_to s.title, [s.user, s]
        %td.small.muted= s.created_at.to_s(:ordinal)
        %td= link_to s.user, s.user