- if can? :delete, @story
  .row
    .offset8.span4
      .btn-group.story-actions-button
        %button.btn-info.btn.dropdown-toggle{"data-toggle" => "dropdown"}
          Story Options
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to edit_user_story_path(@story.user, @story) do
              %i.icon-edit
              Edit
          %li
            = link_to "#delete", role: "button", data: {toggle: "modal"} do
              %i.icon-trash
              Delete
          - if @story.public?
            %li.divider
            %li
              %a{:href => '#', :'data-target' => "#share", 'data-toggle' => 'modal'} Share link
    #delete.modal.small.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "DeleteModal", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Delete Confirmation
      .modal-body
        %p.error-text Are you sure you want to delete this story?
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        = link_to user_story_path(@story.user, @story), method: :delete do
          %button.btn.btn-danger{"data-dismiss" => "modal"} Delete
= render @story

#share.modal.hide.fade{tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'Share Link', :'aria-hidden' => 'true'}
  .modal-header
    %button.close{:'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
    %h3#shareLabel Share this competition
  .modal-body
    .well.well-small= user_story_url(@story)
  .modal-footer
    %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => true} Close