.row
  .span4.offset4
    .well
      %h2 Sign in
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
        = f.input :email, :autofocus => true
        = f.input :password
        = f.input :remember_me, :label => false, :inline_label => 'Remember me?', :as => :boolean if devise_mapping.rememberable?
        = f.button :submit, "Sign in", :class => 'btn-primary'
      = render "devise/shared/links"
