/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-wysihtml5
 *= require bootstrap-datepicker
 *= require select2
*/

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

html {
  background: image-url("background-footer-area.png") repeat-x center bottom white;
  height:100%;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Home */

.home {
  li {
    margin-top: 1em;
  }
}

#new_user label.checkbox {
  color: #999;
  @media (max-width: 979px) {
    color: white;
  }
}

/* Competition Display */
.edit-competition {
  margin-top:-10px;
}
.header {
  margin-bottom: 20px;
}

/* Story */
.story-page {
  @include box-shadow(5px, 5px, 10px, 1px, rgba(100,100,100,.3));
  @include rounded(.3em);
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  border:1px solid #eeeeee;
  padding: 4em;
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  line-height: 1.8em;
  .story {
  }
}

/* Buttons */
.competition-actions-button, .story-actions-button {
  float:right;
  a{
    text-decoration: none;
    &:hover {
      text-decoration:none;
    }
  }
}

.new-story-button {
  a {
    float:right;
  }
}

/* Voting */
.voting-nav {
  margin-top: 2em;
  margin-bottom: 2em;
  .standalone-voting {
   text-align: center;
  }
}