// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown-menu{
  .forgot-password {
    font-weight: lighter;
    color: #999;
    padding-right: 40px;
    padding-left: 40px;
  }
}