// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_submission {
  margin-bottom: 0;
}

.vote_result {
  display:none;
}