%a{class: "btn btn-navbar", data: {toggle: "collapse", target: ".nav-collapse"}}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "Composition Competition", root_path, :class => 'brand'
%div.nav-collapse.collapse 
  %ul.nav.pull-right
    - if user_signed_in?
      = nav_link 'Stories', user_stories_path(current_user)
      = nav_link 'Competitions', competitions_path
      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          Welcome, #{current_user.name}
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to edit_user_registration_path do
              %i.icon-user
              Edit Account
          - if current_user.admin?
            %li
              = link_to rails_admin_path, :'data-no-turbolink' => true do
                %i.icon-exclamation-sign
                Admin
          %li.divider
          %li
            = link_to destroy_user_session_path, :method=>'delete' do
              %i.icon-off
              Logout
    - else
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Sign In
          %strong.caret
        .dropdown-menu{:style => "padding: 15px; padding-bottom: 0px;"}
          = render 'shared/signin'
      %li
        = link_to 'Sign up', new_user_registration_path
