!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Composition Competition"
      %meta{:content => content_for?(:description) ? yield(:description) : "Composition Competition", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Serif"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
    :javascript
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0]
        bh.type = 'text/javascript'
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=pjcxrfkzds6cnxqwtixafq'
        s.parentNode.insertBefore(bh, s)
        })(document, 'script')
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container-fluid
          = render 'layouts/navigation'
    .container
      .row
        .span12
          - if user_signed_in?
            = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder
          = render 'layouts/messages'
          = yield
      %footer
      / ! end of .container
    / ! end of #main
  = render 'shared/tracking'